{{define "login"}}
    <div id="login">
        <form action="/login" method="post">
            <input type="text" name="identifiant" placeholder="Username or Email">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login">
        </form>
    </div>
{{end}}
