{{define "main"}}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>{{putOrElse .Title "JetChat"}}</title>

            {{if .Debug}}
                <script>
					window.debugVariables = {{js (jsonPretty .)}};
                </script>
            {{end}}

            {{cssImport "style.css"}}
        </head>
        <body>
            <main id="main">
                {{.RenderedContent}}
            </main>
        </body>
    </html>
{{end}}
